networks:
   icloudpd:
      name: icloudpd
      driver: bridge
      ipam:
         driver: default
      driver_opts:
         com.docker.network.bridge.name: icloudpd

volumes:
   icloudpd_malc_config:
      name: icloudpd_malc_config
   icloudpd_grug_config:
      name: icloudpd_grug_config

services:
   icloudpd_malc:
      container_name: icloudpd-malc
      hostname: icloudpd-malc
      networks:
         icloudpd:
            aliases:
               - icloudpd_malc
      environment:
         - TZ=America/Denver
         - user=malc
      image: boredazfcuk/icloudpd:1.0.1302_23-01-2026
      healthcheck:
         test: /usr/local/bin/healthcheck.sh
         start_period: 30s
      restart: always
      volumes:
         - icloudpd_malc_config:/config
         - /mnt/lab/icloud/malc:/home/user/iCloud/
   icloudpd_grug:
      container_name: icloudpd-grug
      hostname: icloudpd-grug
      networks:
         icloudpd:
            aliases:
               - icloudpd_grug
      environment:
         - TZ=America/Denver
         - user=grug
      image: boredazfcuk/icloudpd:1.0.1302_23-01-2026
      healthcheck:
         test: /usr/local/bin/healthcheck.sh
         start_period: 30s
      restart: always
      volumes:
         - icloudpd_grug_config:/config
         - /mnt/lab/icloud/grug:/home/user/iCloud/
