networks:
   icloudpd:
      name: icloudpd
      driver: bridge
      ipam:
         driver: default
      driver_opts:
         com.docker.network.bridge.name: icloudpd

volumes:
   icloudpd_malc_config:
      name: icloudpd_malc_config

services:
   icloudpd_malc:
      hostname: icloudpd_malc
      networks:
         icloudpd:
            aliases:
               - icloudpd_malc
      environment:
         - TZ=America/Denver
         - user=malc
      image: boredazfcuk/icloudpd:1.0.1289_18-10-2025
      healthcheck:
         test: /usr/local/bin/healthcheck.sh
         start_period: 30s
      restart: always
      volumes:
         - ./icloudpd_malc_config:/config
         - /mnt/lab/icloud/malc:/home/malc/iCloud/
   icloudpd_grug:
      hostname: icloudpd_grug
      networks:
         icloudpd:
            aliases:
               - icloudpd_grug
      environment:
         - TZ=America/Denver
         - user=grug
      image: boredazfcuk/icloudpd:1.0.1289_18-10-2025
      healthcheck:
         test: /usr/local/bin/healthcheck.sh
         start_period: 30s
      restart: always
      volumes:
         - ./icloudpd_grug_config:/config
         - /mnt/lab/icloud/grug:/home/grug/iCloud/
