networks:
  traefiknet:
    name: traefiknet
    external: true

services:
  plex:
    image: plexinc/pms-docker:1.43.0.10467-2b1ba6e69
    container_name: plex
    network_mode: host # https://archive.is/EWGoj
    restart: unless-stopped
    environment:
      - TZ=America/Denver
      - PLEX_CLAIM=${CLAIM_TOKEN}
    volumes:
      - ./config:/config
      - ./transcode:/transcode
      - /mnt/lab:/data
