networks:
  traefiknet:
    name: traefiknet
    external: true

services:
  plex:
    image: plexinc/pms-docker:1.42.2.10156-f737b826c
    container_name: plex
    network_mode: host # https://archive.is/EWGoj
    restart: unless-stopped
    environment:
      - TZ=America/Denver
      - PLEX_CLAIM=${CLAIM_TOKEN}
    volumes:
      - ./config:/config
      - ./transcode:/transcode
      - /mnt/wd-green:/data
