*.lan.{$DOMAIN} {
    tls {
        dns porkbun {
            api_key {$API_KEY}
            api_secret_key {$SECRET_KEY}
        }
    }
    @adguard host adguard.lan.{$DOMAIN}
    handle @adguard {
        reverse_proxy adguard-home:80
    }
    @portainer host portainer.lan.{$DOMAIN}
    handle @portainer {
        reverse_proxy portainer:9443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }
    @grafana host grafana.lan.{$DOMAIN}
    handle @grafana {
        reverse_proxy speedtest-grafana:3000
    }
    @speedtest host speedtest.lan.{$DOMAIN}
    handle @speedtest {
        reverse_proxy speedtest-tracker:80
    }

    handle {
        abort
    }
}
