
[admins]

[couchdb]
uuid = 00cb53e3c83b170032384c9ce157b418
max_document_size = 50000000

[chttpd_auth]
require_valid_user = true

[chttpd]
bind_address = 0.0.0.0
port = 5984
require_valid_user = true
enable_cors = true
max_http_request_size = 4294967296

[cluster]
n = 1

[httpd]
WWW-Authenticate = Basic realm="couchdb"
enable_cors = true

[cors]
credentials = true
origins = app://obsidian.md,capacitor://localhost,http://localhost
