services:
  db_recipes:
    restart: always
    image: postgres:16-alpine
    volumes:
      - ./postgresql:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - default

  web_recipes:
    restart: always
    image: vabene1111/recipes:2.3.6
    env_file:
      - ./.env
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      # Do not make this a bind mount, see https://docs.tandoor.dev/install/docker/#volumes-vs-bind-mounts
      - nginx_config:/opt/recipes/nginx/conf.d
      - ./mediafiles:/opt/recipes/mediafiles
    labels: # traefik example labels
      - traefik.enable=true
      - traefik.http.routers.recipes.rule=Host(`recipes.${DOMAIN}`)
      - traefik.http.routers.recipes.entrypoints=websecure # your https endpoint
      - traefik.http.routers.recipes.tls.certresolver=myresolver # your cert resolver
      - traefik.docker.network=traefiknet
    depends_on:
      - db_recipes
    networks:
      - traefiknet
      - default

networks:
  default:
  traefiknet: # This is your external traefik network
    name: traefiknet
    external: true

volumes:
  nginx_config:
  staticfiles:
